###############################################################################
# sDPN property file
###############################################################################

################## Mandatory settings for the core engine #####################

##### XSB executable
# Full path to xsb executable.
# Info: Path must be absolute.
#####
xsb_exe = /u/b_nord01/local/XSB332/bin/xsb

##### Default directory for xsb scripts and stuff.
# Note that this directory must exist.
# Info: Can be absolute or relative.
#####
temp_dir = /tmp

#####
# Display debug messages.
#####
debug

################## Optional settings for predefined tests ######################

##### 
# Default classpath to analyze
#####
std_cp = ../de.wwu.sdpn.testapps/target/classes

##### 
# Default main class to analyze
#####
std_mc = Lbnord/testapps/Main
#std_mc = Lbnord/unittests/simpleAnalyses/Main

##### 
# Default method to check for mutual exclusion
#####
std_ex = bnord.testapps.Main.excludeMe()V

##### 
# Default lock type used for filtering
#####
std_lt = Lbnord/examples/Lock

##### 
# Run lockinsensitive analysis
#####
#std_lockinsensitive

##### 
# Don't use slicing 
#####
#std_noslice

##### 
# Generate witness
#####
#std_witness







