<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.wwu.sdpn.eclipse.launching.DataraceLaunchConfigurationDelegate"
            id="de.wwu.sdpn.eclipse.launching.DataraceLaunchConfigurationType"
            modes="run"
            name="Data race check">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.wwu.sdpn.eclipse.launching.ui.DataraceLaunchConfigurationTabGroup"
            id="de.wwu.sdpn.eclipse.launch.ui.DataraceLaunchConfigurationTabGroup1"
            type="de.wwu.sdpn.eclipse.launching.DataraceLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.wwu.sdpn.eclipse.launching.DataraceLaunchConfigurationType"
            icon="images/dataraceicon16.png"
            id="de.wwu.sdpn.eclipse.launching.DataraceLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.wwu.sdpn.eclipse.launching.ui.DataraceLaunchShortcut"
            description="Run a full data race check using this class as main class."
            icon="images/dataraceicon16.png"
            id="de.wwu.sdpn.eclipse.launching.ui.DataraceLauchShortcut1"
            label="Data race check"
            modes="run">
         <contextualLaunch>
            <enablement>
            <with variable="selection">
             <count value="1"/>
              <iterate>
               <and>
                <adapt type="org.eclipse.jdt.core.IJavaElement">
                	<test property="org.eclipse.jdt.core.isInJavaProject"/>
                </adapt>
                <test
                      property="org.eclipse.jdt.launching.hasMain">
                </test>
               </and>
              </iterate>
             </with>
            
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.wwu.sdpn.eclipse.category"
            class="de.wwu.sdpn.eclipse.DataraceResultViewPart"
            icon="images/dataraceicon16.png"
            id="de.wwu.sdpn.eclipse.DataraceResultViewPart"
            name="Data race result">
      </view>
      <category
            id="de.wwu.sdpn.eclipse.category"
            name="Analyses">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.wwu.sdpn.eclipse.DRAPrefPage"
            id="de.wwu.sdpn.eclipse.page1"
            name="DRAPrefs">
      </page>
   </extension>

</plugin>
